$width: 100%;
$option-height: 36px;
$border-radius: 10px;
$border-style: 1px solid #e4e6ed;
$placeholder-font-color: #909EB2;
$background-color: #fff;
$hover-color: #e7f7fd;
$shadow-style: 2px 2px 4px #e4e6ed;

// scrollbar style
$scroll-padding: 10px;
$scroll-width: 1px;
$scroll-thumb-color: #76849a;
$scroll-track-color: #F0F1F4;
