$width: 500px;
$option-height: 36px;
$border-radius: 10px;
$border-style: 1px solid #e4e6ed;
$placeholder-font-color: #909EB2;
$background-color: #fff;
$hover-color: #e7f7fd;
$shadow-style: 2px 2px 4px #e4e6ed;

// scrollbar style
$scroll-padding: 10px;
$scroll-width: 1px;
$scroll-thumb-color: #76849a;
$scroll-track-color: #F0F1F4;

@mixin customScrollbar($padding, $width, $thumb-color, $track-color) {
  &::-webkit-scrollbar {
    width: $padding * 2 + $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border: $padding transparent solid;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border: $padding transparent solid;
    background-clip: padding-box;
  }
}

.container {
  width: $width;
}

.header {
  position: relative;

  &-inner {
    background-color: $background-color;
    border: $border-style;
    border-radius: $border-radius;
    height: $option-height;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    width: 100%;

    &--unselected {
      color: $placeholder-font-color;
    }
  }

  .chevron {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
}

.menu {
  background-color: $background-color;
  outline: $border-style;
  border-radius: $border-radius;
  width: $width;
  position: absolute;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  box-shadow: $shadow-style;
  max-height: $option-height * 7;
  overflow-y: auto;
  @include customScrollbar($scroll-padding, $scroll-width, $scroll-thumb-color, $scroll-track-color);

  .option {
    &:first-of-type {
      border-top-left-radius: $border-radius;
    }

    &:last-of-type {
      border-bottom-left-radius: $border-radius;
    }

    &:hover {
      background-color: $hover-color;
    }

    &--no-scroll {
      &:first-of-type {
        border-top-right-radius: $border-radius;
      }

      &:last-of-type {
        border-bottom-right-radius: $border-radius;
      }
    }

    &-inner {
      width: 100%;
      min-height: $option-height;
      text-align: left;
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  }
}
