@import "../variables";

@mixin customScrollbar($padding, $width, $thumb-color, $track-color) {
  &::-webkit-scrollbar {
    width: $padding * 2 + $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border: $padding transparent solid;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border: $padding transparent solid;
    background-clip: padding-box;
  }
}

.menu {
  background-color: $background-color;
  outline: $border-style;
  border-radius: $border-radius;
  width: $width;
  position: absolute;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  box-shadow: $shadow-style;
  max-height: $option-height * 7;
  overflow-y: auto;
  @include customScrollbar($scroll-padding, $scroll-width, $scroll-thumb-color, $scroll-track-color);
}
